<h1 class="text-center my-4">{{ title }}</h1>

<div class="container">
  <div class="card shadow-sm p-4">
    <form class="mb-3">
      <div class="mb-3">
        <label for="num1" class="form-label">Número 1:</label>
        <input type="number" [(ngModel)]="num1" name="num1" class="form-control">
      </div>

      <div class="mb-3">
        <label for="num2" class="form-label">Número 2:</label>
        <input type="number" [(ngModel)]="num2" name="num2" class="form-control">
      </div>

      <div class="d-flex justify-content-center gap-2">
        <button type="button" class="btn btn-primary" (click)="sumar()">Sumar</button>
        <button type="button" class="btn btn-secondary" (click)="resta()">Restar</button>
        <button type="button" class="btn btn-success" (click)="multiplicar()">Multiplicar</button>
        <button type="button" class="btn btn-danger" (click)="dividir()">Dividir</button>
      </div>
    </form>

    <h4 class="text-center mt-4">Resultado: <span class="text-primary">{{ result }}</span></h4>
  </div>
</div>
